<!DOCTYPE html>
<html>
  <head>
    <title>Rails: Wikinimous</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  </head>

  <body>
    <div class="bar">
      <h2>Wikinimous</h2>
      <p>
        <%= link_to articles_new_path do%>
          <i class="fa fa-plus" aria-hidden="true"></i>
        <% end %>
      </p>
    </div>

    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
